<h1>Seja Bem Vindo!</h1>
<p>Data: <%= data_br(Date.today)%></p>
<p><%= nome_aplicacao %></p>
<p>
  Meu nome é <strong> <%= @meu_nome %> </strong>
</p>

<ul>
  <li>
    <%= link_to "Cadastro de Moedas", coins_path %>
  </li>
</ul>