<h1>Seja Bem Vindo!</h1>
<p>Luiz Henrique</p>

<p>A soma é: <%= 1 + 1%> </p>
<p>Seu nome de trás para frente é: <%= "Luiz Henrique".reverse %> </p>
<% ax= "minha variavel a"%>
<p>Imprimindo a variável a: <%= ax %></p>
<p>A data de hoje é: <%=Date.today%></p>